*.iml
.gradle
local.properties
*workspace.xml
PerfectToiletTime/.idea/workspace.xml
PerfectToiletTime/.idea
PerfectToiletTime/.idea/
/.idea/workspace.xml
/.idea/libraries
*misc.xml
PerfectToiletTime/build
PerfectToiletTime/captures
.DS_Store
